<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body   
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path === '/' ? 'active' : '')) Database
                    li.main-header__item
                        a(href="/weekly", class=(path === '/weekly' ? 'active' : '')) Weekly 
                    li.main-header__item
                        a(href="/monthly", class=(path === '/monthly' ? 'active' : '')) Monthly 
                    li.main-header__item
                        a(href="/half_year", class=(path === '/half_y' ? 'active' : '')) Half Year
                    li.main-header__item
                        a(href="/searches", class=(path === '/searches' ? 'active' : '')) Search
                    li.main-header__item
                        a(href="/upload", class=(path === '/upload' ? 'active' : '')) Upload
        block content

  
        if lastpage !== 0
            section.pagination
                a(href=`${path}?page=1&address=${addrs}`) &#171;
                if hasPrevious2Pages
                    a(href=`${path}?page=${previous2Page}&address=${addrs}`) #{previous2Page}
                if hasPreviousPage
                    a(href=`${path}?page=${previousPage}&address=${addrs}`) #{previousPage}
                a(href=`${path}?page=${currentPage}&address=${addrs}`, class='active') #{currentPage}
                if hasNextPage
                    a(href=`${path}?page=${nextPage}&address=${addrs}`) #{nextPage}
                if hasNext2Pages
                    a(href=`${path}?page=${next2Page}&address=${addrs}`) #{next2Page}
                a(href=`${path}?page=${lastPage}&address=${addrs}`) &#187;
        block pagination
    