extends ../layouts/main-layout.pug

block styles
    link(rel = 'stylesheet', href='/css/product.css')
    link(rel = 'stylesheet', href='/css/forms.css')
    link(rel = 'stylesheet', href='/css/table.css')
    link(rel = 'stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        
block content
    h1 Today's housing data
    p.product__description productz

    .table-refresh
        table.table-refresh__table
            thead
                tr
                    th Date
                    th Address
                    th Bedrooms
                    th Sqft
                    th Bathrooms
                    th Parking
                    th Price
                    th Rental income
                    th Year
                    th Price per sqft
                    th Neighbor
            tbody
                each ele in productz
                    tr
                        each key in ele
                            td= key
            tfoot
                tr
                    th(colspan='6')
        .table-refresh__options
            span.table-refresh__label Last Update: never
            button.table-refresh__button 
                i.material-icons(href='/?page=1') first_page
            button.table-refresh__button 
                i.material-icons(href='/?page=2') navigate_before
            button.table-refresh__button 
                i.material-icons(href='/?page=3') navigate_next
            button.table-refresh__button 
                i.material-icons(href='/?page=4') last_page
                

        section.pagination

            a(href='/?page=1') &#171;

            if (currentPage !==1 && previousPage !==1 ) 
                a(href='/?page=1') 1
            if hasPreviousPage
                a(href=`/?page=${previousPage}`) #{previousPage}

            a(href=`/?page=${currentPage}`, class='active') #{currentPage}

            if hasNextPage
                a(href=`/?page=${nextPage}`) #{nextPage}
            if (lastPage !== currentPage && nextPage !== lastPage)
                a(href=`/?page=${lastPage}`) #{lastPage}

            a(href=`/?page=${lastPage}`) &#187;
